html {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9c/Rhubarb_Pie_Lattice_Crust_Delicious.JPG);
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: rgba(2255,200,131,0.3);
  margin: 10px auto;
  padding: 20px;
  max-width: 1100px;
  min-height: 300px;
  border: 1px black solid;
  border-radius: 25px;
  font-family: 'Helvetica';
}

header {
  width: 90%;
  margin: 10px auto;
  margin-bottom: 100px;
  text-align: center;
}

h2 {
  font-size: 64px;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 20px;
}

main {
  padding-bottom: 15px;
}

#fruit-search {
  margin: auto;
  padding-bottom:20px;
  height: 70px;
}

input[type=text] {
  background-color: rgb(255,255,255);
  background-color: rgba(100,0,45,0.5);
  width: 100%;
  height: 100%;
  border: 1px black solid;
  border-radius: 25px;
  text-align: center;
  font-size: 50px;
  display: block;
}

.pie-btn {
  height: 150px;
  width: 150px;
}

.recipe-list {
  margin-top:150px;
}

.recipe {
  background-color: rgba(100,0,45,0.5);
  margin: 10px;
  padding:15px;
  border: 1px black solid;
  border-radius: 10px;
  display: block;
}

.recipe-header {
  font-size:20px;
  display: block;
  cursor: pointer;
}

.recipe-body {
  padding-top: 10px;
  display: block;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #aaa;
}
