<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type=text/javascript src="{{
  url_for('static', filename='app.js') }}"></script>
  </head>
  <body>
    <header>
      <h2>What type of pie would you like to try?</h2>
      <form id="fruit-search" action="/" method="get">
        <input type="test" name="fruit_name" placeholder="enter a fruit">
        <input type="submit" value="search">
      </form>
    </header>

  </body>
</html>
